###directories to ignore###
./rootfiles/
./pics/
./hotfixes/

###file types to ignore###
*.swp
*.o
*.cxx
*.root
*.pcm
*.jpg
*.png
*.sublime-project
*.sublime-workspace

###include this###
!.gitignore
